@font-face {
  font-family: "CoFoSans-REgular";
  src: url(/assets/fonts/CoFoSans-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "MabryPro-Bold";
  src: url(/assets/fonts/MabryPro-Bold.ttf) format(ttf);
}
