$coFo: "CoFoSans-REgular";
$mabry: "MabryPro-Bold";

$color-dark: rgba(55, 48, 66, 1);
$color-violet: rgba(117, 87, 255, 1);
$color-white: rgba(255, 255, 255, 1);
$color-light-white: rgba(255, 255, 255, 1);
